/.metadata/

*.class

*.log


*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


.idea*
.iml


pod-archetype/podtpe/client/target/*
pod-archetype/podtpe/server/target/*
pod-archetype/podtpe/api/target/*

pod-archetype/podtpe/.metadata
pod-archetype/podtpe/api/.settings
pod-archetype/podtpe/server/.settings
pod-archetype/podtpe/client/.settings
